@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Privacy Policy</div>
<div class="card-body">
    <p>Use this page to detail your site's privacy policy.</p>
</div>
        </div>
    </div>
</div>
</div>
<style>
    .container {
        margin-top: 50px;
    }

    .card-header {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .card-body {
        font-size: 18px;
    }
</style>